<div class="space-y-7">

    <app-dropdown-selector label="Payment Method" [required]="required" [options]="paymentOptions"
        [value]="value.method" (valueChange)="setMethod($event)" placeholder="Select payment method">
    </app-dropdown-selector>

    <ng-container *ngIf="value.method === 'credit_card'">

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

            <app-base-input label="Cardholder Name" placeholder="Name on card" [required]="true"
                [value]="value.creditCard?.cardholderName || ''" [pattern]="namePattern"
                [errorMessages]="cardholderErrorMessages" [showSubmitValidation]="showSubmitValidation"
                (valueChange)="patchCreditCard({ cardholderName: $event })">
            </app-base-input>

            <app-base-input label="Card Number" placeholder="1234567812345678" [required]="true"
                [value]="value.creditCard?.cardNumber || ''" [pattern]="cardNumberPattern"
                [errorMessages]="cardNumberErrorMessages" [showSubmitValidation]="showSubmitValidation"
                (valueChange)="patchCreditCard({ cardNumber: $event })">
            </app-base-input>

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">

            <app-base-input label="Exp. Month" placeholder="MM" [required]="true"
                [value]="value.creditCard?.expiryMonth || ''" [pattern]="monthPattern"
                [errorMessages]="monthErrorMessages" [showSubmitValidation]="showSubmitValidation"
                (valueChange)="patchCreditCard({ expiryMonth: $event })">
            </app-base-input>

            <app-base-input label="Exp. Year" placeholder="YYYY" [required]="true"
                [value]="value.creditCard?.expiryYear || ''" [pattern]="yearPattern" [errorMessages]="yearErrorMessages"
                [showSubmitValidation]="showSubmitValidation" (valueChange)="patchCreditCard({ expiryYear: $event })">
            </app-base-input>

            <app-base-input label="CVC" placeholder="123" [required]="true" [value]="value.creditCard?.cvc || ''"
                [pattern]="cvcPattern" [errorMessages]="cvcErrorMessages" [showSubmitValidation]="showSubmitValidation"
                (valueChange)="patchCreditCard({ cvc: $event })">
            </app-base-input>

        </div>

    </ng-container>

</div>