<app-base-input [label]="label" type="time" [required]="required" [value]="value"
    (valueChange)="valueChange.emit($event)" [hasSuffix]="true">
    <app-button suffix variant="icon" type="button" ariaLabel="Select time"
        [extraClasses]="'!w-auto !h-auto !p-0 bg-transparent'">
        <span class="h-10 w-10 rounded-md border border-gray-300 dark:border-[#2a2d2a]
             hover:bg-gray-100 dark:hover:bg-[#2a2d2a] transition flex items-center justify-center">
            <i class="ph ph-clock text-gray-700 dark:text-gray-200"></i>
        </span>
    </app-button>
</app-base-input>